.header-container {
  margin-left: 1rem;
}

.domain-box {
  border-bottom: 1px solid black;
}

.scraped-links-box {
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
}

.scraped-link {
  margin: 1rem auto;
  width: 100%;
}

.input-btn-pair {
  display: flex;
  flex-flow: column nowrap;
  width: 33%;
}

.nav-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.main-display {
  width: 66vw;
  margin: 1rem auto;
}

.monitor-options-container {
  border: 1px solid black;
  padding: 1rem;
}

.checkbox {
  position: absolute;
  appearance: none;
  width: 2rem;
  cursor: pointer;
  z-index: 3;
}
.checkbox::after {
  content: "OFF";
  color: rgba(200, 0, 0, 0.9);
}
.checkbox:checked::after {
  content: "ON";
  color: rgba(0, 200, 0, 0.9);
}
