.header-container {
  justify-content: center;
  margin: 3rem auto 1rem;
  display: flex;
  align-items: center;
}
#app-title {
  margin: 0 1rem;
}
.spider {
  display: flex;
  font-size: 1.66rem;
}
.spider-body {
  font-size: 1rem;
}
.middle-spider {
  font-size: 2rem;
  color: rgba(244, 224, 77, 0.9);
  margin: 0 -1.33rem;
}
.domain-box {
  border-bottom: 1px solid var(--bg-prime);
}

.scraped-links-box {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.scraped-link {
  margin: 1rem auto;
  width: 100%;
  color: white;
}

.input-set {
  display: flex;
  flex-flow: column nowrap;
  width: 33%;
  margin: 0 auto 3rem;
}
.input-set * {
}
.input-set input,
.input-set select {
  all: unset;
  padding: 0.33rem;
  background-color: black;
  border-radius: 6px;
  border: 1px solid rgba(244, 224, 77, 0.9);
}

.nav-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.main-display {
  width: 66vw;
  margin: 1rem auto;
}

.monitor-options-container {
  border: 1px solid var(--font-prime);
  padding: 1rem;
  margin-bottom: 3rem;
}

.checkbox {
  position: absolute;
  appearance: none;
  width: 2rem;
  cursor: pointer;
  z-index: 3;
}

.checkbox::after {
  content: "OFF";
  color: rgba(244, 224, 77);
}

.checkbox:checked::after {
  content: "ON";
  color: rgba(44, 165, 141, 0.9);
}

.run-check-btn {
  font-size: 1rem;
}

.toggle-iframe-btn {
  width: 15vw;
}
