.header-container {
  margin-left: 1rem;
}

.domain-box {
  border-bottom: 1px solid black;
}

.scraped-links-box {
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
}
.scraped-link {
  margin: 1rem auto;
  width: 100%;
  height: 100vh;
}

.input-btn-pair {
  display: flex;
  flex-flow: column nowrap;
  width: 33%;
}

.nav-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.main-display {
  width: 66vw;
  margin: 1rem auto;
}
